.App {
  text-align: center;
  margin-top: 10%;
}
.formInfo{
 display:flex;
 justify-content:center;
 align-content:center;
 flex-direction:column;
 margin:1.3rem auto;
}
.simpleForm{
  max-width: 50%;
  margin: 0 auto;
}
.submit{
  text-align:center;
  height:1.7rem;
  background-color:green;
  color:white;
  border-radius: 5px;
  text-decoration: none;
  border:none;
}
.simpleForm input{
  height:1.6rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* set up css for modal*/
.modal{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
 
}
.modalContent{
  width:500px;
  background-color:#fff;
  padding: 5% auto;
  border-radius: 1rem;
}
.modalTop{
padding-top:1.5rem;
}
.modalBottom{
  padding-bottom:1.5rem;
  }
  


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sections {
  margin-right: 19rem;
  margin-left: 6rem;
}
.App {
  font-family: sans-serif;
}

.scrollspy {
  margin: 10px;
  position: fixed;
  top: 0;
  right: 0;
}
ul {
  list-style: none;
}
li {
  margin: 8px;
  padding: 6px 0;
}
a {
  color: #6d7175;
}
.isCurrent {
  font-weight: bold;
}
.isCurrentsub .subSection {
  color: black;
  border-left: 6px solid #008060;
  padding-left: 7px;
}
.subSection {
  text-decoration: none;
  font-size: 1.7rem;
}
.isCurrent .mainSection {
  color: black;
  border-left: 6px solid #008060;
  padding-left: 7px;
}
.mainSection {
  text-decoration: none;
  font-size: 2rem;
}
.is-active{
  color: black;
  border-left: 6px solid #008060;
  padding-left: 7px;
}